.footer {
    background: #2b5363;
    color: #fbb48c;
    width: 100%;
    padding: .5em auto;
    margin: auto;
}

.footer a {
    color: #fbb48c;
}

.footer a:hover {
    color: black;
}

.footer p {
    margin: .5em;
}