.button {
  font: inherit;
  border: 1px solid #005526;
  background: #005526;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin-top: .25rem;
}

.button:hover,
.button:active {
  background: #009945;
  border-color: #005526;
}

.button:focus {
  outline: none;
}
