.button {
  font: inherit;
  border: 1px solid #fbb48c;
  background: #a1867c;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin-top: .25rem;
}

.button:hover,
.button:active {
  background: #fbb48c;
  border-color: #a1867c;
  color: black;
}

.button:focus {
  outline: none;
}
